<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
    <p>決済方法を選択してください</p>
    <a href="/pay/reserve"><img src="/pay_btn.png"></img></a>
</body>
</html>
